@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

body{
    font-family: 'Poiret One', cursive;;
    overflow: hidden;
    /*background: conic-gradient(from 90deg at bottom right, cyan, rebeccapurple);*/ 
    background-image: url("Dark_Cave.webp");
}

.container{
    
    width: center;
    height: 100vh;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*
.digitalClock{
    border: 1px solid black;
    width: fit-content;
    margin: auto;
    padding: 50px;
    border-radius: 2px;
    color: white;
    background: rgba(0, 0.12, 0.1, 0.1);
}
*/

.digitalClock h1{
    display: inline-block;
    margin: 20px;
    color: white;
    font-weight: bold;
    font-size: 5rem;
    text-align: center;
}

.digitalClock h3 {
    color: white;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
}
@media(max-width:768px){
    #bar1, #bar2, #bar3{
        display: none;
    }
    .digitalClock{
        text-align: center;
        width: 100%;
    }
    .digitalClock h1{
        display: block;
    }
}

@media(max-width:480px){
    .digitalClock h1{
        font-size: 4rem;
    }
}

